@import "../../vars.css";

.conatiners {
  /* background-color: aliceblue; */
  margin: 170px;
}

.heading {
  margin-bottom: 60px;
  font-size: xx-large;
}

.cards {
  display: flex;
  background: linear-gradient(90deg, #132a53, #576cbc);
  margin: 60px;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.tech {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 10px;
}

.leftside {
  margin: 20px;
}

.name {
  font-size: xx-large;
  padding-bottom: 10px;
}

.desc {
  padding-bottom: 5px;
}

.stack {
  background-color: #0b2447;
  padding: 8px;
  border-radius: 60px;
  border: 2px solid black;

  color: #1dcdf1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.preview {
  background-color: #132a53;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  /* border: 2px solid black; */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.preview:hover {
  background-color: #576cbc;
}

.preview a {
  text-decoration: none;
  color: aliceblue;
  text-align: center;
}

.stack p {
  text-align: center;
}

.leftside a {
  text-decoration: none;
  color: white;
}

.leftside a:hover {
  color: #1dcdf1;
}

@media screen and (max-width: 830px) {
  .cards {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .conatiners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
