@import '../../vars.css';


.skillsContainer {
    margin-left: 160px;
}


.main {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column; 
}


.head {
    margin-bottom: 25px;
}


.skillList {
    display: flex;
    flex-wrap: wrap; 
    gap: 70px; 
    padding: 0;
    margin: 0; 
}


.skillList li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    color: #d2dae2;
    font-size: 18px;
    margin: 24px 0;
    position: relative;
    width: 350px; 
}

.skillList li::before,
.skillList li::after {
    content: "";
    display: block;
    height: 16px;
    width: 100%;
    background-color: #1f4a59;
    position: absolute;
    bottom: -28px;
    border-radius: 6px;
}

.skillList li::before {
    box-shadow: 0 0 6px rgba(75, 207, 250, 0.2);
}

.skillList li::after {
    background-image: linear-gradient(90deg, #0fbcf9, #34e7e4);
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


.js::after { animation-name: js; }
.react::after { animation-name: react; }
.html5::after { animation-name: html5; }
.css3::after { animation-name: css3; }
.cpp::after { animation-name: cpp; }
.ds::after { animation-name: ds; }
.dbms::after { animation-name: dbms; }
.node::after { animation-name: node; }
.php::after { animation-name: php; }
.figma::after { animation-name: figma; }


@keyframes js { from { width: 0; } to { width: 70%; } }
@keyframes react { from { width: 0; } to { width: 70%; } }
@keyframes html5 { from { width: 0; } to { width: 89%; } }
@keyframes css3 { from { width: 0; } to { width: 80%; } }
@keyframes cpp { from { width: 0; } to { width: 75%; } }
@keyframes ds { from { width: 0; } to { width: 80%; } }
@keyframes dbms { from { width: 0; } to { width: 75%; } }
@keyframes node { from { width: 0; } to { width: 60%; } }
@keyframes php { from { width: 0; } to { width: 70%; } }
@keyframes figma { from { width: 0; } to { width: 70%; } }


@media screen and (max-width: 830px) {
    .main {
        margin-right: 120px;
    }

    .skillList {
        width: 400px;
        gap: 20px;
    }

    .head{
      margin-right: 20px;
      
    }
}
